/* styles.css */
body {
    background-color: black;
    color: white;
}

/* Increase specificity for accordion styles */
.navbar + .accordion .accordion-item {
    background-color: black;
    color: white;
}
/* Override default accordion header styles */
.accordion-header {
    background-color: black !important;
    color: white !important;
}


.navbar {
    background-color: black !important;
    color: white; /* White text color */
    height: 150px; /* Vertically extend by about 3 times */
    justify-content: center;
}

.navbar-brand {
    position: absolute;
    left: 1rem;
}

.navbar-text {
    font-size: 2rem;
}
