/* General body styling */
body {
    background-color: black; /* Black background for the body sides */
    font-family: 'Courier New', serif !important; /* Global font family */
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Wrapper to center the container and add side images; horizontal scrolling disabled below */
.wrapper {
    position: relative;
    width: 100%; /* Ensure the wrapper does not exceed the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px; /* Add some padding to your content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Left and Right side images */
.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px; /* Adjust the width as needed */
    background-repeat: repeat-y; /* Repeat vertically */
    background-size: 100% auto; /* Scale to full width and repeat vertically */
}

.wrapper::before {
    left: -200px; /* Adjust the left position as needed */
    background-image: url('/assets/left-side-image.jpg'); /* Path to your left side image */
}

.wrapper::after {
    right: -200px; /* Adjust the right position as needed */
    background-image: url('/assets/right-side-image.jpg'); /* Path to your right side image */
}

/* Main content container styling */
.container {
    background-image: url('/assets/background.jpg'); /* Path to your background image */
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    background-size: auto; /* Ensure the image repeats without scaling */
    background-position: top center; /* Center the image horizontally at the top */
    max-width: 1200px; /* Optional: Set a max-width for your content */
    margin: 0 auto; /* Center the container horizontally */
    padding: 30px; /* Add some padding to your content */
    color: #343a40; /* Dark grey text for readability */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Specific container margin-top adjustment */
.mt-5 {
    margin-top: 0 !important; /* Remove top margin */
}

/* Headings styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', serif !important; /* Consistent font for headings */
    color: #343a40; /* Dark color for headings */
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem; /* Large size for main headings */
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem; /* Slightly smaller for sub-headings */
    letter-spacing: 0.75px;
}

h3 {
    font-size: 1.75rem;
    letter-spacing: 0.5px;
}

/* Paragraphs styling */
p {
    font-family: 'Courier New', serif !important; /* Consistent font for paragraphs */
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}


/* adapt for devices with small screens */
@media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Courier New', serif !important; /* Consistent font for headings */
        color: #212529; /* Dark color for headings */
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 1.8rem; /* Large size for main headings */
        letter-spacing: 0.75px;
    }
    
    h2 {
        font-size: 1.6rem; /* Slightly smaller for sub-headings */
        letter-spacing: 0.7px;
    }
    
    h3 {
        font-size: 1.5rem;
        letter-spacing: 0.5px;
    }

    /* Paragraphs styling */
    p {
        font-family: 'Courier New', serif !important; /* Consistent font for paragraphs */
        font-size: 0.9rem;
        line-height: 1.6;
        margin-bottom: 1.4rem;
    }

    .wrapper {
    	overflow-x: hidden; /* Prevent horizontal scroll */
    }
}
    


/* Links styling */
a {
    color: #343a40; /* Elegant dark red for links */
    text-decoration: none; /* Remove underline for a clean look */
}

a:hover {
    color: #f6c7adc5; /* Slightly lighter red on hover */
    text-decoration: underline; /* Underline links on hover */
}

.navbar-title h2 {
    color: #f6c7adc5; /* Change this to your desired color */
}

.navbar-nav .nav-link:hover {
    color: #f6c7adc5; /* Change this to your desired hover color */
}

.navbar-nav .btn-secondary:hover {
    background-color: black; /* Change this to your desired hover background color */
    border-color: black; /* Change this to match the background color */
}

.navbar-toggler {
    border-color: #f6c7adc5; /* Change the border color of the button */
}

.navbar-toggler-icon {
    background-color: #f6c7adc5;
}

.navbar-nav .nav-link {
    color: #f6c7adc5 !important; /* Light grey color */
}

.navbar-nav .btn-secondary {
    color: #f6c7adc5 !important; /* Light grey color */
}

.navbar-title-text {
    margin: 0;
    padding-top: 0.5rem;  /* Adjust as needed */
    padding-bottom: 0.5rem;  /* Adjust as needed */
    line-height: 1.5;  /* Adjust as needed */
}

.navbar-toggler {
    border: none;
}

.custom-toggler-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f6c7adc5;
    position: relative;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f6c7adc5;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.custom-toggler-icon::before {
    top: -8px;
}

.custom-toggler-icon::after {
    top: 8px;
}


/* Accordion styling */
.accordion .accordion-item {
    background-color: black; /* Light grey background for accordion items */
    color: #343a40; /* Dark grey text color */
    border: none; /* Slightly darker border for separation */
    margin: 0; /* Remove any margins */
}

/* Remove margins and padding around accordion items */
.accordion .accordion-item, .container {
    margin: 0 auto;
    padding: 20;
}

/* Ensure the accordion body has no gaps */
.accordion-body {
    padding: 0;
    margin: 0;
}


/* Override default accordion header styles */
.accordion-header {
    background-color: #E8E8E8; /* Lighter grey background for headers */
    color: #343a40;
    font-family: 'Courier New', serif !important; /* Consistent font for accordion headers */
    font-size: 1.5rem;
    margin: 0; /* Remove any margins */
    border-bottom: 1px solid #bcbcbc; /* Slight border for separation */
}

/* Ensure the accordion button within the header has the desired background */
.accordion-header .accordion-button {
    background-color: #E8E8E8; /* Lighter grey background for buttons */
    color: #343a40;
    font-family: 'Courier New', serif !important; /* Consistent font for accordion buttons */
    font-size: 1.5rem;
    margin: 0; /* Remove any margins */
    border: none; /* Remove border if any */
}

/* Remove the default focus outline for the accordion buttons */
.accordion-header .accordion-button:focus {
    outline: none;
    box-shadow: none;
}

/* General container styling */
.container-md {
    background-color: black; /* Light grey background for content containers */
    color: #343a40; /* Dark grey text color */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Additional text style adjustments */
blockquote {
    font-family: 'Courier New', serif !important; /* Consistent font for blockquotes */
    font-size: 1.25rem;
    font-style: italic;
    color: #6c757d; /* Muted grey for quotes */
    padding-left: 1rem;
    border-left: 4px solid #e74c3c; /* Red border for quotes */
    margin: 1.5rem 0;
}

.img-fluid.custom-size-big {
    width: 100%;
    height: auto;
}

.custom-size-small {
    width: 80px;
    height: 120px;
}

.custom-size-big {
    width: 150px;
    height: 225px;
}

.dark-blue {
    color: #00008B; /* Dark blue color for existing points */
  }
  .light-grey {
    color: #D3D3D3; /* Light grey color for missing points */
  }
  

